h1 {
    font-size: 26px;
    letter-spacing: 4px;
    line-height: 32px;
}

h1:after {
    color: #e6ae49;
    content: ".";
    font-size: 34px;
}
.post-media .search {
    display: inline-block;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-right: -4px;
    object-fit: cover;
    object-position: center;
}
.search img {
    display: block;
    object-fit: cover;
    object-position: center;
}
.summary{
    max-height: 393px;
    overflow: scroll;
}
.header {
    background-color: rgba(255, 255, 255, 0.95);
}
.header-fixed {
    background-color: rgba(255, 255, 255, 0.95);
}
.header-prepare {
    background-color: rgba(255, 255, 255, 0.95);
}

.img-thumb {
    vertical-align: middle;
}

.img-large {
    max-height: 500px;
    width:auto;
}

.img-large-div {
    overflow: hidden;
}

.item-box {
    height: 233px;
}

#logout {
    color: #ffffff;
    padding: 15px;
}

#logout:hover{
    color: #e6ae49;
}

#login {
    color: #ffffff;
    padding: 15px;
}

#login:hover {
    color: #e6ae49;
}
.article {
    margin-left: -25px;
}

.article-thumb{
    height: 300px;
    padding:0;
    overflow: hidden;
}
.article-thumb img{
    display: block;
    height: 300px;
    width: auto;
    overflow: hidden;
}
.ptb{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* ----------------------------------------------------------------------*/
/* Pagination Navigation   --------------------------------------------- */
/* ----------------------------------------------------------------------*/
.pagination-nav {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
}

.pagination-nav ul {
    margin: 0px;
    padding: 0px;
}

.pagination-nav ul li {
    display: inline-block;
    margin: 0px 2px;
}

.pagination-nav ul li a {
    display: block;
    background: #555555;
    color: #ffffff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}
.pagination-nav ul li:hover a {
    background: #e6ae49;
    color: #fff;
}
.pagination-nav ul li.active a {
    background: #e6ae49;
    color: #fff;
}

.owl-carousel .owl-item,
.owl-carousel .owl-item .item-video,
.owl-carousel .owl-item .item-video .owl-video-wrapper,
.owl-carousel .owl-item .item-video .owl-video-wrapper .owl-video {
    width: 100%;
    height:auto;
}

/* -------------------------------------*/
/* Carousel-Theme (Slider Elements - Bullets, Pagination, etc..) ---------*/
/* -------------------------------------*/
.owl-buttons {
    position: static;
}
.owl-carousel .owl-dot{
    display: inline-block;
    zoom: 1;
}
.owl-carousel .owl-dot span {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 20px;
    border: 2px solid;
    background: #323232;
    z-index: 10;
}

.owl-carousel .owl-dot.active span {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #000;
}

.nf-carousel-theme {
}

.nf-carousel-theme .owl-dots {
    position: absolute;
    z-index: 2;
    left: 0;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.nf-carousel-theme .owl-nav .owl-prev,
.nf-carousel-theme .owl-nav .owl-next {
    width: 31px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    margin-top: -15px;
}

.content-carousel .owl-nav .owl-prev,
.content-carousel .owl-nav .owl-next,
.image-slider .owl-nav .owl-prev,
.image-slider .owl-nav .owl-next,
.fullwidth-slider .owl-nav .owl-prev,
.fullwidth-slider .owl-nav .owl-next,
.nf-carousel-theme .owl-nav .owl-prev,
.nf-carousel-theme .owl-nav .owl-next {
    background: #555555;
    color: #ffffff;
    display: block;
    top: 50%;
    transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    z-index: 3;
    position: absolute;
    text-align: center;
}

.content-carousel .owl-nav .owl-prev:hover,
.content-carousel .owl-nav .owl-next:hover,
.image-slider .owl-nav .owl-prev:hover,
.image-slider .owl-nav .owl-next:hover,
.fullwidth-slider .owl-nav .owl-prev:hover,
.fullwidth-slider .owl-nav .owl-next:hover,
.nf-carousel-theme .owl-nav .owl-prev:hover,
.nf-carousel-theme .owl-nav .owl-next:hover {
    background: #e6ae49;
    color: #ffffff;
}

.content-carousel .owl-nav .owl-next,
.image-slider .owl-nav .owl-next,
.fullwidth-slider .owl-nav .owl-next,
.nf-carousel-theme .owl-nav .owl-next {
    right: 0;
}

.nf-carousel-theme .owl-nav .owl-prev {
    left: 0;
    margin-left: -51px;
    opacity: 0;
}

.nf-carousel-theme .owl-nav .owl-next {
    right: 0;
    margin-right: -51px;
    opacity: 0;
}

.content-carousel:hover .owl-nav .owl-prev,
.content-carousel:hover .owl-nav .owl-next,
.image-slider:hover .owl-nav .owl-prev,
.image-slider:hover .owl-nav .owl-next,
.fullwidth-slider:hover .owl-nav .owl-prev,
.fullwidth-slider:hover .owl-nav .owl-next,
.nf-carousel-theme:hover .owl-nav .owl-prev,
.nf-carousel-theme:hover .owl-nav .owl-next {
    margin-right: 0;
    margin-left: 0;
    opacity: 1;
}