
<!DOCTYPE html>
<html>
{{> head}}

<body>

<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->

<!-- Search Overlay Menu -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="ion ion-ios-close-empty"></i></span>
    <form role="search" id="searchform" action="/search" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="ion ion-ios-search"></i></button>
    </form>
</div>
<!-- End Search Overlay Menu -->

<!-- Site Wrapper -->
<div class="wrapper">

    {{> header}}

    <!-- CONTENT --------------------------------------------------------------------------------->

    <!-- Form Section -->
    <section class="ptb ptb-sm-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>Add Artist</h3>
                </div>
            </div>
            <div class="spacer-75"></div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <!-- FORM -->
                    <form action="/add-artist" method="post" class="contact-form" id="contact" role="form">
                        <div class="form-field-wrapper">
                            <input class="input-sm form-full" id="artsyArtistId" type="text" name="artsyArtistId" placeholder="Artsy Artist Id" required>
                        </div>
                        <button class="btn btn-md btn-black form-full" type="submit" id="form-submit" name="submit">Submit</button>
                    </form>
                    <!-- END FORM -->
                </div>
            </div>
        </div>
    </section>
    <!-- Form Section -->

    <!-- Work Section -->
    <section class="ptb ptb-sm-80">
        <div class="container text-center">
            <div class="row">
                {{#artists}}
                <div class="col-lg-4 spacing-grid">
                    <div class="item-box">
                        <a href="/artist?artistId={{id}}">
                            <img alt="1" src="{{imgThumb}}" class="item-container img-thumb">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">{{name}}</h5>
                                    <p class="white">Loaded: {{loaded}} | Populated: {{populated}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/artists}}
            </div>
        </div>
        <!-- Pagination Nav -->
        <div class="pagination-nav mt-60 mt-xs-30">
            <ul>
                {{#previous}}
                <li><a href="/add-artist?page={{prevPageNum}}"><i class="fa fa-angle-left"></i></a></li>
                {{/previous}}
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                {{#next}}
                <li><a href="/add-artist?page={{nextPageNum}}"><i class="fa fa-angle-right"></i></a></li>
                {{/next}}
            </ul>
        </div>
        <!-- End Pagination Nav -->

    </section>
    <!-- End Work Section -->

    <div class="spacer-60"></div>
    <!-- END CONTENT ---------------------------------------------------------------------------->

    {{> footer}}

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wraper End -->

{{> javascript}}

</body>
</html>
