<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Artist</title>
</head>
<body>
<form action="/add-artist" method="post">
    <label>Artsy Artist Id</label>
    <input type="text" name="artsyArtistId"/>
    <button type="submit">Add Artist</button>
</form>


{{#artist}}
<p>The artist <a href="/artist?artistId={{id}}">{{name}}</a> [{{artworksCount}}] was add to the database.</p>
{{/artist}}

{{#artists}}
<ul>
    <li><a href="/artist?artistId={{id}}">{{name}}</a> has [{{artworks.size}}] of artworks and [{{similarTo.size}}] similar artists.</li>
</ul>
{{/artists}}


</body>
</html>