
<!DOCTYPE html>
<html>

{{> head}}

<body>

<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->

<!-- Search Overlay Menu -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="ion ion-ios-close-empty"></i></span>
    <form role="search" id="searchform" action="/search" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="ion ion-ios-search"></i></button>
    </form>
</div>
<!-- End Search Overlay Menu -->

<!-- Site Wraper -->
<div class="wrapper">

    {{> header}}

    <!-- CONTENT --------------------------------------------------------------------------------->
    {{#artist}}
    <!-- Work Detail Section -->
    <section class="pt pt-sm-80">
        <div class="container">
            <div class="row mb-60 mb-xs-30">
                <div class="col-md-6">
                    <h4>{{name}}</h4>
                </div>
                <div class="col-md-6">
                    <p class="lead">

                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <img class="item-container" src="{{#imgLarge}}{{.}}{{/imgLarge}}" alt="1">
                </div>
            </div>

            <div class="row mtb-60 mtb-xs-30">
                <div class="col-md-4 mb-30">
                    <div class="project-detail-block">
                        <p>
                            <strong class="dark-color">Nationality :</strong>{{#nationality}}{{.}}{{/nationality}}
                        </p>

                        <p>
                            <strong class="dark-color">Born:</strong>{{#birthday}}{{.}}{{/birthday}}, {{#hometown}}{{.}}{{/hometown}}
                        </p>
                        <p>
                            <strong class="dark-color">Location :</strong>{{#location}}{{.}}{{/location}}
                        </p>
                        <p>
                            <strong class="dark-color">User :</strong>John Doe
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <!--<div class="col-md-6 mb-30">-->
                            <!--<h5>Fully responsive</h5>-->
                            <!--<p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>-->
                        <!--</div>-->
                        <!--<div class="col-md-6 mb-30">-->
                            <!--<h5>Flexible & Customizable</h5>-->
                            <!--<p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>-->
                        <!--</div>-->
                        <!--<div class="col-md-6 mb-30">-->
                            <!--<h5>html 5 video & Audio</h5>-->
                            <!--<p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>-->
                        <!--</div>-->
                        <!--<div class="col-md-6 mb-30">-->
                            <!--<h5>Clean code & design</h5>-->
                            <!--<p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>

    </section>

    <hr />

    <section class="ptb ptb-sm-80">
        <div class="container text-center">
            <h4>Artworks</h4>
            <div class="row">
                {{#artworks}}
                <div class="col-lg-4 spacing-grid">
                    <div class="item-box">
                        <a href="/artwork?artworkId={{id}}">
                            <img alt="1" src="{{imgThumb}}" class="item-container">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">{{title}}</h5>
                                    <p class="white">{{medium}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/artworks}}
            </div>
        </div>
    </section>
    <hr />

    <section class="ptb ptb-sm-80">
        <div class="container text-center">
            <h4>Similar Artists</h4>
            <div class="row">
                {{#similarTo}}
                <div class="col-lg-4 spacing-grid">
                    <div class="item-box">
                        <a href="/artist?artistId={{id}}">
                            <img alt="1" src="{{imgThumb}}" class="item-container">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">{{name}}</h5>
                                    <p class="white">Loaded: {{loaded}} | Populated: {{populated}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/similarTo}}
            </div>
        </div>
    </section>
    <!--- End Work Detail Section -->

    <!-- Work Next Prev Bar -->
    <section class="mb-60">
        <div class="container">
            <div class="item-nav">
                <a class="item-prev" href="">
                    <div class="prev-btn"><i class="fa fa-angle-left"></i></div>
                    <div class="item-prev-text xs-hidden">
                        <h6>Prev Project</h6>
                    </div>
                </a>

                <a class="item-all-view">
                    <h6>All Work</h6>
                </a>

                <a class="item-next" href="">
                    <div class="next-btn"><i class="fa fa-angle-right"></i></div>
                    <div class="item-next-text xs-hidden">
                        <h6>Next Project</h6>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- End Work Next Prev Bar -->
    {{/artist}}

    <!-- End CONTENT ------------------------------------------------------------------------------>

    {{> footer}}

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wraper End -->

{{> javascript}}

</body>
</html>
