
<!DOCTYPE html>
<html>

{{> head}}

<body>

<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->

<!-- Search Overlay Menu -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="ion ion-ios-close-empty"></i></span>
    <form role="search" id="searchform" action="/search" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="ion ion-ios-search"></i></button>
    </form>
</div>
<!-- End Search Overlay Menu -->

<!-- Site Wrapper -->
<div class="wrapper">

    {{> header}}

    <!-- CONTENT --------------------------------------------------------------------------------->

    <!-- Artist Detail Section -->
    {{#artist}}
    <section class="pt pt-sm-80">
        <div class="container">
            <div class="row mb-60 mb-xs-30">
                <div class="col-md-6">
                    <img class="item-container img-large pull-right" src="{{imgLarge}}" alt="1">
                </div>
                <div class="col-md-6">
                    <div class="project-detail-block">
                        <h4>{{name}}</h4>
                        <p><strong class="dark-color">Nationality:</strong>{{#nationality}}{{.}}{{/nationality}}</p>
                        <p><strong class="dark-color">Born:</strong>{{#birthday}}{{.}}{{/birthday}}, {{#hometown}}{{.}}{{/hometown}}</p>
                        <p><strong class="dark-color">Location:</strong>{{#location}}{{.}}{{/location}}</p>
                    </div>
                    {{#currentUsername}}
                    <div>
                    {{#following}}
                        <a href="/unfollow?artistId={{id}}" class="btn btn-xs btn-black">Unfollow</a>
                    {{/following}}
                    {{^following}}
                        <a href="/follow?artistId={{id}}" class="btn btn-xs btn-black">Follow</a>
                    {{/following}}
                    {{#admin}}
                        <a href="/load-artist?artistId={{id}}" class="btn btn-xs btn-black">Load Artist</a>
                    {{/admin}}
                    </div>
                    {{/currentUsername}}
                </div>
            </div>
        </div>
    </section>
    {{/artist}}
    <!--- End Artist Detail Section -->

    <hr />

    <!--- Artist's Artworks Section -->
    <section class="ptb ptb-sm-80">
        <div class="container text-center">
            <h4>Artworks</h4>
            <div class="row">
                {{#artworks}}
                <div class="col-lg-4 spacing-grid">
                    <div class="item-box">
                        <a href="/artwork?artworkId={{id}}">
                            <img alt="1" src="{{imgLarge}}" class="item-container">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">{{title}}</h5>
                                    <p class="white">{{medium}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/artworks}}
            </div>
        </div>
        <!-- Pagination Nav -->
        <div class="pagination-nav mt-60 mt-xs-30">
            <ul>
                {{#previous}}
                <li><a href="/artist?artistId={{artist.id}}&page={{prevPageNum}}"><i class="fa fa-angle-left"></i></a></li>
                {{/previous}}
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                {{#next}}
                <li><a href="/artist?artistId={{artist.id}}&page={{nextPageNum}}"><i class="fa fa-angle-right"></i></a></li>
                {{/next}}
            </ul>
        </div>
        <!-- End Pagination Nav -->
    </section>
    <!--- End Artist's Artworks Section -->
    <hr />
    <!-- Articles Slider -->
    <section class="ptb ptb-sm-80">
        <h3 class="text-center">Articles</h3>
        <div class="spacer-60"></div>
        <div class="owl-carousel content-carousel content-slider">
            {{#articles}}
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-sm-30">
                            <img src="{{imgLarge}}" alt="" />
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h3>{{title}}</h3>
                            <div class="spacer-15"></div>
                            <p>{{snippet}}</p>
                            <div class="spacer-15"></div>
                            <a href="{{url}}" class="btn btn-md btn-black">Read Article</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/articles}}
        </div>
    </section>
    <!-- End Articles Slider -->

    <!-- Similar Artists Slider-->
    <section class="ptb ptb-sm-80">
        <div class="container">
            <h4 class="text-center">Similar Artists</h4>
            {{#artist}}
            <div class="spacer-30"></div>
            <div class="row">
                <div class="owl-carousel item4-carousel nf-carousel-theme o-flow-hidden">
                    {{#similarTo}}
                    <div class="item">
                        <div class="nf-col-padding">
                            <div class="item-box">
                                <a href="/artist?artistId={{id}}">
                                    <!-- Shop item images -->
                                    <div class="item-img ">
                                        <img src="{{imgLarge}}" class=""/>
                                    </div>
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <h5 class="white">{{name}}</h5>
                                            <p class="white">Loaded: {{loaded}} | Populated: {{populated}}</p>
                                        </div>
                                    </div>
                                <!-- End Shop item images -->
                                </a>
                            </div>
                        </div>
                    </div>
                    {{/similarTo}}
                </div>
            </div>
            {{/artist}}
        </div>
    </section>
    <!-- End Similar Artists Slider -->


    <!-- End CONTENT ------------------------------------------------------------------------------>

    {{> footer}}

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wrapper End -->

{{> javascript}}

</body>
</html>
