<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist Page</title>
</head>
<body>
{{#artist}}
<h1>{{name}}</h1>
<p>{{#nationality}}{{.}}{{/nationality}} b. {{#birthday}}{{.}}{{/birthday}} in {{#hometown}}{{.}}{{/hometown}}</p>
<p>works/ed in {{#location}}{{.}}{{/location}}</p>
<img src="{{imgFourThirds}}"/>
<a href="/get-artworks?artistId={{id}}">Get Artworks</a>
<a href="/get-similar-artists?artistId={{id}}">Get Similar Artists</a>
{{/artist}}


<h2>Artworks</h2>
{{#artist.artworks}}
<p><a href="/artwork?artworkId={{id}}">{{title}}</a>, {{date}}</p>
{{/artist.artworks}}



<h2>Similar Artists</h2>
{{#artist.similarTo}}
<p><a href="/artist?artistId={{id}}">{{name}}</a></p>
{{/artist.similarTo}}

</body>
</html>