
<!DOCTYPE html>
<html>
{{> head}}

<body>

<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->

<!-- Search Overlay Menu -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="ion ion-ios-close-empty"></i></span>
    <form role="search" id="searchform" action="/search" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="ion ion-ios-search"></i></button>
    </form>
</div>
<!-- End Search Overlay Menu -->

<!-- Site Wrapper -->
<div class="wrapper">

    {{> header}}

    <!-- CONTENT --------------------------------------------------------------------------------->
    <div class="spacer-75"></div>

    <!-- Artworks Section -->
    <section class="ptb ptb-sm-80">
        <div class="container">
            {{#currentUsername}}
            <h4>From your collection ...</h4>
            {{/currentUsername}}
            {{^currentUsername}}
            <h4>Popular right now ...</h4>
            {{/currentUsername}}
            <!-- End work Filter -->
            <div class="row container-masonry nf-col-3">

                {{^artworks}}
                <div class="col-lg-3 center-block">
                    <p>You aren't following any artists. Go to the <a href="/discover">Discover</a> page to find some artists to follow.</p>
                </div>
                {{/artworks}}
                {{#artworks}}
                <div class="nf-item spacing">
                    <div class="item-box">
                        <a href="/artwork?artworkId={{id}}">
                            <img alt="1" src="{{imgLarge}}" class="item-container">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">{{title}}</h5>
                                    <p class="white">{{artist.name}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/artworks}}
            </div>
        </div>

        {{> pagination}}

    </section>
    <!-- End Artworks Section -->

    <div class="spacer-60"></div>
    <!-- END CONTENT ---------------------------------------------------------------------------->

    {{> footer}}

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wrapper End -->

{{> javascript}}

</body>
</html>
