
<!DOCTYPE html>
<html>

{{> head}}

<body class="full-intro">

<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->

<!-- Search Overlay Menu -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="ion ion-ios-close-empty"></i></span>
    <form role="search" id="searchform" action="/search" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="ion ion-ios-search"></i></button>
    </form>
</div>
<!-- End Search Overlay Menu -->

<!-- Site Wrapper -->
<div class="wrapper">

    {{> header}}

    <!-- CONTENT --------------------------------------------------------------------------------->
    <div class="spacer-75"></div>

    <!-- Tab Section Section -->
    <section class="ptb ptb-sm-80">
        <div class="container">
            <div class="spacer-60"></div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <div class="tabs b-lrb-none">
                        <ul>
                            <!-- Tab Links -->
                            <li><a href="#artists">Artists</a></li>
                            <li><a href="#artworks">Artworks</a></li>
                            <li><a href="#articles">Articles</a></li>
                            <li><a href="#videos">Videos</a></li>
                        </ul>
                        <div class="ui-tab-content">
                            <!-- Artist Section -->
                            <div id="artists" class="plr-0">
                                <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
                                <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                            </div>
                            <!-- Artworks Section -->
                            <div id="artworks" class="plr-0">
                                <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.</p>
                                <p>Tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
                            </div>
                            <!-- Articles Section -->
                            <div id="articles" class="plr-0">
                                <p>Tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
                            </div>
                            <!-- Videos Section -->
                            <div id="videos" class="plr-0">
                                <p>Tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Tab Section Section -->


    <!-- End CONTENT ------------------------------------------------------------------------------>

    {{> footer}}

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wrapper End -->

{{> javascript}}

</body>
</html>
