<!-- FOOTER -->
<footer class="footer pt-80">
    <div class="container">
        <div class="row mb-60">
            <!-- Logo -->
            <div class="col-md-3 col-sm-3 col-xs-12 mb-xs-30">
                <a class="footer-logo" href="/">
                    <img src="img/logo-black.png" /></a>
            </div>
            <!-- Logo -->

        </div>
    </div>

    <hr />

    <!-- Copyright Bar -->
    <section class="copyright ptb-60">
        <div class="container">
            <p class="">
                © 2015 <a><b>Mazel Template</b></a>. All Rights Reserved.
            </p>
        </div>
    </section>
    <!-- End Copyright Bar -->

</footer>
<!-- END FOOTER -->