<!-- Header -->
<header id="header" class="header header-light">
    <div class="container header-inner">

        <!-- Logo -->
        <div class="logo">
            <a href="/artworks">
                <img class="logo-light" src="img/logo-white.png" alt="Mazel" />
                <img class="logo-dark" src="img/logo-black.png" alt="Mazel" />
            </a>
        </div>
        <!-- End Logo -->


        <!-- Mobile Navbar Icon -->
        <div class="nav-mobile nav-bar-icon">
            <span></span>
        </div>
        <!-- End Mobile Navbar Icon -->

        <!-- Navbar Navigation -->
        <div class="nav-menu">
            <ul class="nav-menu-inner">
                {{#currentUsername}}
                <li><a class="" href="/discover">Discover</a></li>
                {{/currentUsername}}
                <li><a class="" href="/artists">Artists</a></li>
                <li><a class="" href="/artworks">Artworks</a></li>
                <li>
                    {{#currentUsername}}
                    <a href="/logout" class="btn btn-xs btn-black" id="logout">Logout</a>
                    {{/currentUsername}}
                    {{^currentUsername}}
                    <a href="/login" class="btn btn-xs btn-black" id="login">Login</a>
                    {{/currentUsername}}
                </li>
            </ul>
        </div>
        <!-- End Navbar Navigation -->

    </div>
</header>
<!-- End Header -->