
<!DOCTYPE html>
<html>

{{> head}}

<body class="full-intro">

<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->

<!-- Search Overlay Menu -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="ion ion-ios-close-empty"></i></span>
    <form role="search" id="searchform" action="/search" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="ion ion-ios-search"></i></button>
    </form>
</div>
<!-- End Search Overlay Menu -->

<!-- Site Wrapper -->
<div class="wrapper">

    {{> header}}

    <!-- CONTENT --------------------------------------------------------------------------------->
    <div class="spacer-75"></div>

    <!-- Search Results Section -->
    <section class="ptb ptb-sm-80">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 blog-post-hr">
                    {{#artists}}
                    <!-- Search Result Item -->
                    <div class="blog-post mb-30">
                        <div class="post-header">
                            <h4><a href="/artist?artistId={{id}}">{{name}}</a></h4>
                        </div>
                        <div class="post-media">
                            <!--<div class="owl-carousel item1-carousel nf-carousel-theme">-->
                                {{#items}}
                                <div class="search item">
                                    {{#imgThumb}}<img src="{{.}}" alt="" />{{/imgThumb}}
                                </div>
                                {{/items}}
                            <!--</div>-->
                        </div>
                    </div>
                    <!-- End Search Result Item -->
                    <hr />
                    {{/artists}}

                    {{> pagination}}

                </div>

            </div>
        </div>
    </section>
    <!-- End Search Results Section -->

    <!-- End CONTENT ------------------------------------------------------------------------------>

    {{> footer}}

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wrapper End -->

{{> javascript}}

</body>
</html>
